.swiper-button-next{
  color:#FFBA08;
}

.swiper-button-prev{
  color:#FFBA08;
}

.swiper-pagination-bullet {
  color:#768279;
  background:#768279;
  height:20px;
  width:20px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  color:#FFBA08;
  background:#FFBA08;
  height:20px;
  width:20px;
  opacity: 1;
}